<div class="wrapper">
    <div class="main">
        <div class="section section-basic" id="basic-elements">
            <img class="path" src="assets/img/path1.png" />
            <div class="section section-javascript" id="javascriptComponents">
                <img class="path" src="assets/img/path5.png" />
                <img class="path path1" src="assets/img/path5.png" />
                <div class="section sectionServices">
                    <div class="space-50"></div>
                    <div class="Services-Headline">
                        <span class="Our-Services heading---H3">
                            About Us
                        </span>
                        <span id="aboutus" class="The-company Body---Normal">
                            BOMEI is the holding company of a conglomerate of leading technology companies in the UAE. It is an emerging technology company born in the ever-changing and iterative technology environment that defines social media. It has top talents and top technical teams from many TOP companies around the world, they are from Microsoft, Meta, Alibaba and Tencent, etc. Besides social media, we also have our own metaverse and gaming section.
                        </span>
                    </div>
                    <!--div>
                        <div class="row justify-content-between align-items-center flexVector">
                            <div class="col-lg-5 mb-5 mb-lg-0">
                                <div class="We-are-bomei colorGrey text-uppercase heading---H2">
                                    WE ARE BOMEI TECHNOLOGY
                                </div>
                                <p class="Lorem-ipsum colorGrey Body---Normal">
                                    Our company covers a wide range of social media and has a strong technical core in the independent social media field. Through social, live, knowledge and entertainment, our goal is to create a more open, fun, entertaining and safe social platform. We are headquartered in Dubai, UAE with operations in dozens of countries around the world
                                </p>                               
                                <a
                                    class="buttonThird buttonAbout"
                                    [routerLink]="['/contact']"
                                >
                                    Contact Us
                                </a>                                
                            </div>
                            <div class="col-lg-6">
                                <div class="Vector">
                                    <img src="assets/svg/Idea.svg" />
                                </div>
                            </div>
                        </div>
                    </div-->
                </div>
                <div class="section">
                    <div class="container sectionWidth">
                        <div class="space-50"></div>
                        <div>
                            <div class="row align-items-center flexVector">
                                <div class="col-lg-6">
                                    <div class="Vector" id="VectorAbout">
                                        <img src="assets/svg/bitcoin-trading.svg" />
                                    </div>
                                </div>
                                <div class="col-lg-5 mb-5 mb-lg-0">
                                    <div class="We-are-bomei text-uppercase heading---H2">
                                        WE ARE BOMEI TECHNOLOGY
                                    </div>
                                    <p class="Lorem-ipsum Body---Normal">
                                        Our company covers a wide range of social media and has a strong technical core in the independent social media field. Through social, live, knowledge and entertainment, our goal is to create a more open, fun, entertaining and safe social platform. We are headquartered in Dubai, UAE with operations in dozens of countries around the world
                                    </p>                                                             
                                </div>
                            </div>
                        </div>
                        <div class="space-100"></div>
                        <div class="space-50"></div>
                         <div>
                            <div class="row justify-content-between align-items-center flexVector">
                                <div class="col-lg-5 mb-5 mb-lg-0">
                                    <div class="We-are-bomei text-uppercase heading---H2">
                                        Our vision
                                    </div>
                                    <p class="Lorem-ipsum Body---Normal">
                                        Our vision is to continually reinvent social. Based on the integration of leading algorithm technology and blockchain technology to create a social metaverse belonging to the Z era. Trust us because we are so simple !
                                    </p>                               
                                </div>
                                <div class="col-lg-6">
                                    <div class="Vector">
                                        <img src="assets/svg/business-analysis.svg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section sectionServices">
                <div class="container sectionServices">
                    <img src="assets/svg/chatting 1.svg"
                         class="contactCall">
                    <div class="Services-Headline">
                        <span class="Our-Services heading---H3">
                            Have a Project in Mind?
                        </span>
                        <span class="Nullam-eget Body---Normal">
                            Let's get to work ! ✨ Find out how it works and ask any questions you may have ! DM or get in touch with us !
                        </span>
                        <a class="nav-link" [routerLink]="['/contact']">
                            <span class="buttonThird">Contact Us</span>
                        </a>
                    </div>
                </div>
                <div class="space-50"></div>
                <div class="space-50"></div>
                <div class="space-50"></div>
            </div>
        </div>
    </div>
</div>