<div class="wrapper">
    <div class="main">
        <div class="section section-basic" id="basic-elements">
            <img class="path" src="assets/img/path1.png" />
            <div class="section section-javascript" id="javascriptComponents">
                <img class="path" src="assets/img/path5.png" />
                <img class="path path1" src="assets/img/path5.png" />
                <div class="section sectionServices">
                    <div class="Services-Headline">
                        <span class="Our-Services heading---H3">
                            Our Services
                        </span>
                        <span class="The-company Body---Normal">
                            The company specializes in software development and offers complete software development and maintenance services.
                        </span>
                    </div>
                    <!--div>
                        <div class="row justify-content-between align-items-center flexVector">
                            <div class="col-lg-5 mb-5 mb-lg-0">
                                <div class="We-are-bomei colorGrey text-uppercase text-service-size heading---H2">
                                    Software Development
                                </div>
                                <p class="Lorem-ipsum colorGrey Body---Normal">
                                    We develop custom software that helps your business do more, Looking for a partner who will take over the process of software development? You've arrived to the right place.
                                    Proin malesuada volutpat erat vitae blandit. Donec vehicula condimentum neque, sed ultrices mi consequat sed. Sed sapien libero, mattis eu lacus id, feugiat imperdiet metus. Vestibulum maximus, metus quis ultrices suscipit, mi nunc tincidunt arcu, et laoreet eros nibh non magna. Nulla eleifend viverra dui, et porta est. Donec id elementum turpis, eu efficitur odio. Nulla egestas ut eros ut placerat. Etiam luctus, ligula in faucibus mollis, tellus diam convallis dui, at varius enim risus ac purus.                                
                                </p>                                                              
                            </div>
                            <div class="col-lg-6">
                                <div class="Vector">
                                    <img src="assets/svg/Coder.svg" />
                                </div>
                            </div>
                        </div>
                    </div-->
                </div>
                <div class="section sectionServices">
                    <div class="container sectionServices">
                        <div>
                            <div class="row justify-content-between align-items-center flexVector">
                                <div class="col-lg-6">
                                    <div class="Vector" id="VectorAbout">
                                        <img src="assets/svg/web-development.svg" />
                                    </div>
                                </div>
                                <div class="col-lg-5 mb-5 mb-lg-0">
                                    <div class="We-are-bomei text-uppercase text-service-size heading---H2">
                                        Software Development
                                    </div>
                                    <p class="Lorem-ipsum Body---Normal">
                                        We develop custom software that helps your business do more, Looking for a partner who will take over the process of software development? You've arrived to the right place.
                                        Proin malesuada volutpat erat vitae blandit. Donec vehicula condimentum neque, sed ultrices mi consequat sed. Sed sapien libero, mattis eu lacus id, feugiat imperdiet metus. Vestibulum maximus, metus quis ultrices suscipit, mi nunc tincidunt arcu, et laoreet eros nibh non magna. Nulla eleifend viverra dui, et porta est. Donec id elementum turpis, eu efficitur odio. Nulla egestas ut eros ut placerat. Etiam luctus, ligula in faucibus mollis, tellus diam convallis dui, at varius enim risus ac purus.                                
                                    </p>                                                              
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section sectionServices">
                <div class="row justify-content-between align-items-center flexVector">
                    <div class="col-lg-5 mb-5 mb-lg-0">
                        <div class="We-are-bomei text-uppercase text-service-size heading---H2">
                            Game Development
                        </div>
                        <p class="Lorem-ipsum Body---Normal">
                            We provide top-tier game development and design services. Our industry professionals will gladly design your project from the ground up.
                            Proin malesuada volutpat erat vitae blandit. Donec vehicula condimentum neque, sed ultrices mi consequat sed. Sed sapien libero, mattis eu lacus id, feugiat imperdiet metus. Vestibulum maximus, metus quis ultrices suscipit, mi nunc tincidunt arcu, et laoreet eros nibh non magna. Nulla eleifend viverra dui, et porta est. Donec id elementum turpis, eu efficitur odio. Nulla egestas ut eros ut placerat. Etiam luctus, ligula in faucibus mollis, tellus diam convallis dui, at varius enim risus ac purus.
                        </p>                                                              
                    </div>
                    <div class="col-lg-6">
                        <div class="Vector">
                            <img src="assets/svg/Game-development.svg" />
                        </div>
                    </div>
                </div>
                <div class="space-50"></div>
            </div>
            <div class="section sectionServices">
                <div class="container sectionServices">
                    <div>
                        <div class="row justify-content-between align-items-center flexVector">
                            <div class="col-lg-6">
                                <div class="Vector" id="VectorAbout">
                                    <img src="assets/svg/social-net.svg" />
                                </div>
                            </div>
                            <div class="col-lg-5 mb-5 mb-lg-0">
                                <div class="We-are-bomei text-uppercase text-service-size heading---H2">
                                    Social Networking
                                </div>
                                <p class="Lorem-ipsum Body---Normal">
                                    We offer extremely engaging social experiences, our team of professionals has considerable experience designing social networking apps.
                                    Proin malesuada volutpat erat vitae blandit. Donec vehicula condimentum neque, sed ultrices mi consequat sed. Sed sapien libero, mattis eu lacus id, feugiat imperdiet metus. Vestibulum maximus, metus quis ultrices suscipit, mi nunc tincidunt arcu, et laoreet eros nibh non magna. Nulla eleifend viverra dui, et porta est. Donec id elementum turpis, eu efficitur odio. Nulla egestas ut eros ut placerat. Etiam luctus, ligula in faucibus mollis, tellus diam convallis dui, at varius enim risus ac purus.
                                </p>                                                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-50"></div>
            </div>
            <div class="section">
                <div class="container sectionWidth">
                    <div class="space-50"></div>
                    <div>
                        <div class="row justify-content-between align-items-center flexVector">
                            <div class="Group-211">
                                <span class="Section-Title text-uppercase heading---H3">
                                    Our Process
                                </span>
                                <div class="Row-1">
                                    <div class="divPart">
                                        <img src="assets/svg/our-process-discovery-icon.svg" class="Feature-Icon-with-circle">
                                        <div class="divDetails">
                                            <span class="Headline text-uppercase heading---H5">
                                                discovery
                                            </span>
                                            <span class="Description Body---Normal">
                                                We learn about where you want to go and what you want to accomplish with your business.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="divPart">
                                        <img src="assets/svg/our-process-ideation-icon.svg" class="Feature-Icon-with-circle">
                                        <div class="divDetails">
                                            <span class="Headline text-uppercase heading---H5">
                                                Ideation
                                            </span>
                                            <span class="Description Body---Normal">
                                                We learn about where you want to go and what you want to accomplish with your business.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="Row-1">
                                    <div class="divPart">
                                        <img src="assets/svg/our-process-Development-icon.svg" class="Feature-Icon-with-circle">
                                        <div class="divDetails">
                                            <span class="Headline text-uppercase heading---H5">
                                                development
                                            </span>
                                            <span class="Description Body---Normal">
                                                We leverage cutting-edge technologies, programming languages, and frameworks to provide you with a secure, reliable solution.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="divPart">
                                        <img src="assets/svg/our-process-deploy-icon.svg" class="Feature-Icon-with-circle">
                                        <div class="divDetails">
                                            <span class="Headline text-uppercase heading---H5">
                                                deployment
                                            </span>
                                            <span class="Description Body---Normal">
                                                We then supply your production-ready solution, as well as after-delivery services such as testing and maintenance.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-50"></div>
                <div class="space-50"></div>
            </div>
            <div class="section sectionServices">
                <div class="container sectionServices">
                    <img src="assets/svg/chatting 1.svg"
                         class="contactCall">
                    <div class="Services-Headline">
                        <span class="Our-Services heading---H3">
                            Have a Project in Mind?
                        </span>
                        <span class="Nullam-eget Body---Normal">
                            Let's get to work ! ✨ Find out how it works and ask any questions you may have ! DM or get in touch with us !
                        </span>
                        <a class="nav-link" [routerLink]="['/contact']">
                            <span class="buttonThird">Contact Us</span>
                        </a>
                    </div>
                </div>
                <div class="space-50"></div>
                <div class="space-50"></div>
                <div class="space-50"></div>
            </div>
        </div>
    </div>
</div>