
<div class="wrapper">
  <div class="main">
    <div class="section section-basic" id="basic-elements">
      <img class="path" src="assets/img/path1.png" />
      <div class="section section-javascript" id="javascriptComponents">
      <img class="path" src="assets/img/path5.png" />

      <img class="path path1" src="assets/img/path5.png" />
      <div class="section">
        <div class="space-50"></div>
        <div>
          <div class="row justify-content-between align-items-center flexVector">
            <div class="col-lg-5 mb-5 mb-lg-0">

              <div class="We-are-bomei heading---H2">
                WE ARE BOMEI TECHNOLOGY
              </div>
              <p class="Lorem-ipsum Body---Normal">
                BOMEI is the holding company of a conglomerate of leading technology companies in the UAE. It is an emerging technology company born in the ever-changing and iterative technology environment that defines social media. It has top talents and top technical teams from many TOP companies around the world, they are from Microsoft, Meta, Alibaba and Tencent, etc. Besides social media, we also have our own metaverse and gaming section.
              </p>
              <div class="btn-wrapper">
                <a
                  class="buttonPrimary"
                  [routerLink]="['/contact']"
                >
                  Contact Us
                </a>
                <a
                  class="buttonSecondary"
                  [routerLink]="['/services']"
                >
                  Read More
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="Vector" id="business-startup">
                <img src="assets/svg/business-startup.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section sectionServices">
        <div class="container sectionServices">
          <div class="space-50"></div>
          <div class="Services-Headline">
            <span class="Our-Services heading---H3">
              Our Services
            </span>
            <span class="The-company Body---Normal">
              The company specializes in software development and offers complete software development and maintenance services.
            </span>
          </div>
          <div id="images">
            <div class="row">
              <div class="col-sm-3 col-6 sectionServicesDiv">
                <img src="assets/svg/web-development.svg"
                    class="Frame-115"
                />
                <div class="Rectangle-19">
                  <span class="Software-Development heading---H5">
                    Software Development
                  </span>
                  <span class="We-develop Body---Normal">
                    We develop custom software that helps your business do more, Looking for a partner who will take over the process of software development? You've arrived to the right place.
                  </span>
                </div>
              </div>
              <div class="col-sm-3 col-6 sectionServicesDiv">
                <img src="assets/svg/Game-development.svg"
                     class="Group-35"
                />
                <div class="Rectangle-19">
                  <span class="Software-Development heading---H5">
                    Game Development
                  </span>
                  <span class="We-develop Body---Normal">
                    We provide top-tier game development and design services. Our industry professionals will gladly design your project from the ground up.                  
                  </span>
                </div>
              </div>
              <div class="col-sm-3 col-6 sectionServicesDiv">
                <img src="assets/svg/social-net.svg"
                    class="Frame-116"
                />
                <div class="Rectangle-19">
                  <span class="Software-Development heading---H5">
                    Social Networking
                  </span>
                  <span class="We-develop Body---Normal">
                    We offer extremely engaging social experiences, our team of professionals has considerable experience designing social networking apps.                  
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section sectionServices">
        <div class="container sectionServices">
          <div class="space-50"></div>
          <div class="space-50"></div>
          <div class="Services-Headline">
            <span class="Our-Services heading---H3">
              Our Advantages
            </span>
            <span class="The-company Body---Normal">
              In order to provide high-quality projects, we follow best practices and international standards throughout our process.
            </span>
          </div>
          <div id="images">
            
            <div class="row">
              <div class="col-sm-6 col-6 oddProcess">
                <div class="Process-1">
                  <img class="numbers" src="assets/svg/number1.svg">
                  <span class="discovery heading---H4">
                    Support
                  </span>
                  <span class="We-learn-about Body---Normal">
                    Supported by top technical teams such as Microsoft and META.
                  </span>
                </div>
              </div>
              <div class="col-sm-6 col-6 evenProcess">
                <div class="Process-1">
                  <img class="numbers" src="assets/svg/number2.svg">
                  <span class="discovery heading---H4">
                    Advanced Tech
                  </span>
                  <span class="We-learn-about Body---Normal">
                    Self-developed algorithm technology, faster and more accurate matching.
                  </span>
                </div>
              </div>
              <div class="col-sm-6 col-6 oddProcess">
                <div class="Process-1">
                  <img class="numbers" src="assets/svg/number3.svg">
                  <span class="discovery heading---H4">
                    Secure
                  </span>
                  <span class="We-learn-about Body---Normal">
                    Self-developed algorithm technology, faster and more accurate matching.
                  </span>
                </div>
              </div>
              <div class="col-sm-6 col-6 evenProcess">
                <div class="Process-1">
                  <img class="numbers" src="assets/svg/number4.svg">
                  <span class="discovery heading---H4">
                    High Quality
                  </span>
                  <span class="We-learn-about Body---Normal">
                    Find the highest quality product with the lowest prices ever. 
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="space-50"></div>
      </div>
    </div>
    <div class="section section-nucleo-icons">
      <img class="path" src="assets/img/path3.png" />

      <div class="container">
        <div class="justify-content-center">
          <div class="space-50"></div>
          <div class="space-100"></div>
          <div class="Services-Headline">
            <span class="Our-Services partners heading---H3">
              Our partners
            </span>
            <span class="The-company partners Body---Normal">
              We've had the pleasure of working and exchanging value with some of the market's top players over the years.
            </span>
          </div>
          <div class="Frame-131">
            <div class="VectorPartners">
              <img class="LogoPartners" src="assets/svg/Logo 1.svg"/>
            </div>
            <div class="VectorPartners">
              <img class="LogoPartners" src="assets/svg/Logo 2.svg"/>
            </div>
            <div class="VectorPartners">
              <img class="LogoPartners" src="assets/svg/Logo 3.svg"/>
            </div>
            <div class="VectorPartners">
              <img class="LogoPartners" src="assets/svg/Logo 4.svg"/>
            </div>
            <div class="VectorPartners">
              <img class="LogoPartners" src="assets/svg/Logo 5.svg"/>
            </div>
          </div>
          <div class="space-50"></div>
          <div class="space-50"></div>
          <div class="space-50"></div>
          <div class="Services-Headline">
            <span class="Our-Services partners heading---H3">
              Apps By Bomei
            </span>
            <span class="The-company partners Body---Normal">
              In order to provide high-quality projects, we follow best practices and international standards throughout our process.
            </span>
          </div>
          <carousel [showIndicators]="true">
            <slide>
              <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                  <span class="Smarty-Application">“Smarty”, Application For Modern People</span>
                  <p class="Mi-in">
                    SMARTY app comes with a bunch of great features to make managing your account super simple. Check your usage, refer friends and more.
                  </p>
                  <a
                    class="buttonPrimary"
                    href="#"
                  >
                    Download Now
                  </a>
                </div>
                <div class="col-lg-6 Smarty-images">
                  <img
                    alt="First slide"
                    class="d-block w-100 removebg-preview"
                    src="assets/img/slide.png"
                  />
                </div>
              </div>
            </slide>
            <slide>
              <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                  <span class="Smarty-Application">“Soul”, Leading algorithm-driven</span>
                  <p class="Mi-in">
                    Soul is a social app where people could freely express themselves through audio chat and share what is on their mind while meeting awesome friends worldwide.
                  </p>
                  <a
                    class="buttonPrimary"
                    href="#"
                  >
                    Download Now
                  </a>
                </div>
                <div class="col-lg-6 Smarty-images">
                  <img
                    alt="First slide"
                    class="d-block w-100 removebg-preview"
                    src="assets/img/soul.png"
                  />
                </div>
              </div>
            </slide>
            <slide>
              <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                  <span class="Smarty-Application">“Bomei”, Social Media Application</span>
                  <p class="Mi-in">
                    Bomei is social media application that has a strong technical core in the independent social media field, our goal is to create a more open, fun, entertaining and safe social platform.
                   </p>
                  <a
                    class="buttonPrimary"
                    href="#"
                  >
                    Download Now
                  </a>
                </div>
                <div class="col-lg-6 Smarty-images">
                  <img
                    alt="First slide"
                    class="d-block w-100 removebg-preview rounded-circle"
                    src="assets/img/logo.jpg"
                  />
                </div>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
      <div class="space-50"></div>
      <div class="space-50"></div>
    </div>
    <div class="section sectionServices">
      <div class="container sectionServices">
        <img src="assets/svg/chatting 1.svg"
             class="contactCall">
        <div class="Services-Headline">
          <span class="Our-Services heading---H3">
            Have a Project in Mind?
          </span>
          <span class="Nullam-eget Body---Normal">
            Let's get to work ! ✨ Find out how it works and ask any questions you may have ! DM or get in touch with us !
          </span>
          <a class="nav-link" [routerLink]="['/contact']">
            <span class="buttonThird">Contact Us</span>
          </a>
        </div>
      </div>
      <div class="space-50"></div>
      <div class="space-50"></div>
      <div class="space-50"></div>
    </div>
  </div>
</div>
