.buttonAbout {
    border-radius: 4px;
    margin: 50px 0 20px;
}

#VectorAbout {
    margin-left: 0;
}

.CTA-1 {
    width: 1440px;
    height: 514px;
    margin: 100px auto 0px;
    object-fit: contain;
    background-color: var(--orange);
    border-radius: 15px;
  }

  .CTA-1 .Our-Services {
    width: 920px;
    margin-top: 100px;
    text-align: center;
  }

  .Services-Headline .buttonThird:hover {
    background-color: var(--white);
    border-color: var(--primary);
    background: linear-gradient(to right, var(--white) 50%, var(--primary) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all .5s ease-out;
    color: var(--dark);
  }

  .text-service-size {
    font-size: 31px;
    margin-bottom: 0;
  }

  .nowdays-width {
    width: 818px;
  }

  .Group-211 {
    width: 1088px;
    height: 404px;
    flex-grow: 0;
    margin: auto;
  }

  .Section-Title {
    flex-grow: 0;
    font-family: Montserrat;
    font-size: 31px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
    margin-bottom: 20px;
  }

  .Row-1 {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 50px auto;
  }

  .divPart {
    width: 528px;
    height: 136px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 0;
    border-radius: 8px;
  }

  img.Feature-Icon-with-circle {
    width: 60px;
    height: 60px;
    flex-grow: 0;
    object-fit: contain;
    border-radius: 83.3px;
    background-color: #e7ebfc;
  }

  .Headline {
    width: 428px;
    height: 30px;
    flex-grow: 0;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
  }

  .Description {
    width: 428px;
    height: 90px;
    flex-grow: 0;
    font-family: Satoshi;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: left;
    color: var(--white);
    text-align: justify;
    text-justify: inter-word;
  }

  .divDetails {
    width: 428px;
    height: 136px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 0;
  }

  .Gorgeous-high-quali {
    width: 255px;
    height: 100px;
    flex-grow: 0;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white);
    text-align: left;
  }

  .First-Feature {
    text-transform: uppercase;
    height: 24px;
    flex-grow: 0;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
    margin: 20px 0 10px;
  }

  .Rectangle {
    width: 44px;
    height: 44px;
    flex-grow: 0;
  }

  .Frame-220 {
    width: 600px;
    height: 604.5px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 90px;
    padding: 0;
  }
  

  .Frame-140 {
    width: 255px;
    height: 604.5px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
  }

  .Group-4 {
    width: 255px;
    height: 208px;
    flex-grow: 0;
  }

  .positions {
    width: 350px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 32px;
    border-radius: 3px;
    background-color: var(--white);
    margin: 0 25px;
  }

  .positions:hover {
    border: solid 1px var(--primary);
    background-color: var(--darktheme);
    color: var(--white);
  }

  .positions:hover .HeadlinePositions{
    color: var(--white);
  }

  .positions:hover .explore{
    color: var(--orange);
  }

  .explore {
    height: 22px;
    flex-grow: 0;
    font-family: Satoshi;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: -0.25px;
    text-align: left;
    color: #2e4fd7;
  }
  

  .HeadlinePositions {
    width: 286px;
    height: 24px;
    flex-grow: 0;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: var(--dark);
  }

  .DescriptionPositions {
    width: 286px;
    height: 66px;
    flex-grow: 0;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--grey-1);
    display: inline-block;
    margin: 15px 0 30px;
  }

  #process {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 70px;
  }

  .Group-220 {
    text-align: center;
    margin: 20px auto 0;
  }