<div class="wrapper">
    <div class="main">
        <div class="section section-basic" id="basic-elements">
            <img class="path" src="assets/img/path1.png" />
            <div class="section section-javascript" id="javascriptComponents">
                <img class="path" src="assets/img/path5.png" />
                <img class="path path1" src="assets/img/path5.png" />
                <div class="section sectionServices">
                    <div class="space-50"></div>
                    <div class="Services-Headline">
                        <span class="Our-Services heading---H3">
                            Join The tEAM
                        </span>
                        <span class="The-company Body---Normal">
                            Let the world know the sound closer !
                        </span>
                    </div>
                    <div class="space-100"></div>
                    <div>
                        <div class="row justify-content-between align-items-center flexVector">
                            <div class="col-lg-5">
                                <div>
                                    <img src="assets/svg/team illustration.svg" />
                                </div>
                            </div>
                            <div class="col-lg-6 mb-6 mb-lg-0">
                                <div class="Frame-220">
                                    <div class="Frame-140">
                                        <div class="Group-4">
                                            <div class="Rectangle">
                                                <img src="assets/svg/Grid.svg" />
                                            </div>
                                            <div class="First-Feature heading---H6">
                                                Collaboration
                                            </div>
                                            <span class="Gorgeous-high-quali body---small">
                                                Our team members are willing to work together, share common beliefs and work towards a common purpose
                                            </span>
                                        </div>
                                        <div class="Group-4">
                                            <div class="Rectangle">
                                                <img src="assets/svg/Grid-1.svg" />
                                            </div>
                                            <div class="First-Feature heading---H6">
                                                Courageous
                                            </div>
                                            <span class="Gorgeous-high-quali body---small">
                                                Our team can respond to the constant changes and take calculated risks to try new things to ensure continuous improvement
                                            </span>
                                        </div>
                                        <div class="Group-4">
                                            <div class="Rectangle">
                                                <img src="assets/svg/Grid-2.svg" />
                                            </div>
                                            <div class="First-Feature heading---H6">
                                                Innovation
                                            </div>
                                            <span class="Gorgeous-high-quali body---small">
                                                Our team has an open mindset, explores and experiments with new possibilities and opportunities
                                            </span>
                                        </div>
                                    </div>
                                    <div class="Frame-140">
                                        <div class="Group-4">
                                            <div class="Rectangle">
                                                <img src="assets/svg/Grid.svg" />
                                            </div>
                                            <div class="First-Feature heading---H6">
                                                Team-Identity
                                            </div>
                                            <span class="Gorgeous-high-quali body---small">
                                                Our team completely understands and believes in the purpose, vision and goals of the team
                                            </span>
                                        </div>
                                        <div class="Group-4">
                                            <div class="Rectangle">
                                                <img src="assets/svg/Grid-1.svg" />
                                            </div>
                                            <div class="First-Feature heading---H6">
                                                Ownership
                                            </div>
                                            <span class="Gorgeous-high-quali body---small">
                                                Our team endeavors to collectively take responsibility for effective development and continuous improvement of the product/ service
                                            </span>
                                        </div>
                                        <div class="Group-4">
                                            <div class="Rectangle">
                                                <img src="assets/svg/Grid-2.svg" />
                                            </div>
                                            <div class="First-Feature heading---H6">
                                                Resilience
                                            </div>
                                            <span class="Gorgeous-high-quali body---small">
                                                Our team is able to effectively deal with ambiguity and difficult situations
                                            </span>
                                        </div>
                                    </div>
                                </div>                                                              
                            </div>
                        </div>
                    </div>
                    <div class="space-50"></div>
                </div>
            </div>
            <div class="section">
                <div class="container sectionWidth">
                    <div class="space-50"></div>
                    <div>
                        <div class="row justify-content-between align-items-center flexVector">
                            <div class="Group-220">
                                <span id="process" class="Section-Title heading---H3">
                                    open positions
                                </span>
                                <div class="Row-1">
                                    <div class="positions">
                                        <span class="HeadlinePositions heading---H6">
                                            Frontend Developer
                                        </span>
                                        <span class="DescriptionPositions body---small">
                                            Participate in the planning and scheduling of project requirements, understand business requirements...
                                        </span>
                                        <a class="explore" href="#">
                                            Explore &#8594;
                                        </a>
                                    </div>                                    
                                    <div class="positions">
                                        <span class="HeadlinePositions heading---H6">
                                            Backend Developer
                                        </span>
                                        <span class="DescriptionPositions body---small">
                                            Complete the coding, testing and related documentation of modules independently...
                                        </span>
                                        <a class="explore" href="#">
                                            Explore &#8594;
                                        </a>
                                    </div>
                                    <div class="positions">
                                        <span class="HeadlinePositions heading---H6">
                                            UI/UX Designer
                                        </span>
                                        <span class="DescriptionPositions body---small">
                                            Gathering and evaluating user requirements, in collaboration with product managers and engineers...
                                        </span>
                                        <a class="explore" href="#">
                                            Explore &#8594;
                                        </a>
                                    </div>
                                </div>
                                <div class="Row-1">
                                    <div class="positions">
                                        <span class="HeadlinePositions heading---H6">
                                            Frontend Developer
                                        </span>
                                        <span class="DescriptionPositions body---small">
                                            Responsible for front-end page development, performance optimization and daily function maintenance...
                                        </span>
                                        <a class="explore" href="#">
                                            Explore &#8594;
                                        </a>
                                    </div>                                    
                                    <div class="positions">
                                        <span class="HeadlinePositions heading---H6">
                                            Backend Developer
                                        </span>
                                        <span class="DescriptionPositions body---small">
                                            Can complete back-end interface design and development according to requirements...
                                        </span>
                                        <a class="explore" href="#">
                                            Explore &#8594;
                                        </a>
                                    </div>
                                    <div class="positions">
                                        <span class="HeadlinePositions heading---H6">
                                            UI/UX Designer
                                        </span>
                                        <span class="DescriptionPositions body---small">
                                            Illustrating design ideas using storyboards, process flows and sitemaps and designing graphic...
                                        </span>
                                        <a class="explore" href="#">
                                            Explore &#8594;
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-50"></div>
            </div>
            <div class="section sectionServices">
                <div class="container sectionServices">
                    <img src="assets/svg/chatting 1.svg"
                         class="contactCall">
                    <div class="Services-Headline">
                        <span class="Our-Services heading---H3">
                            Have a Project in Mind?
                        </span>
                        <span class="Nullam-eget Body---Normal">
                            Let's get to work ! ✨ Find out how it works and ask any questions you may have ! DM or get in touch with us !
                        </span>
                        <a class="nav-link" [routerLink]="['/contact']">
                            <span class="buttonThird">Contact Us</span>
                        </a>
                    </div>
                </div>
                <div class="space-50"></div>
                <div class="space-50"></div>
                <div class="space-50"></div>
            </div>
        </div>
    </div>
</div>
